
.Header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 60px;
}
@font-face {
    font-family: inter;
    src: url("../../assets/Fonts/inter.ttf");
}
.Header h4{
    width: 318px;
    height: 39px;
   font-family: inter;
   font-weight: 600;
   font-size: 32px;
   color:  #1E1E1E;
   line-height: 38.73px;
}
.Boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
}
.bx1{
    width: 392px;
    height: 192px;
    border-radius: 20px;
    background-color:  #2B00D7;
}
#fil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#fil div{
    width: 79px;
    height: 79px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 57px 0 0 30px;
}
#fil div img{
    width: 70.5px;
    height: 71.67px;
    padding:10px ;
}
#fil h1{
    width:161px ;
    height: 48px;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #FFFFFF;
    margin: 40px 31px 0 0;
}
#fil p{
    width: 120px;
    height: 48px;
    font-family: inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    padding: 13px 0 0 55px;
}
.bx2{
    width: 392px;
    height: 192px;
    border-radius: 20px;
    background-color: #6C00D7;
}
#boo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#boo div{
    width: 79px;
    height: 79px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 57px 0 0 30px;
}
#boo div img{
    width: 70.5px;
    height: 71.67px;
    padding:10px ;
}
#boo h1{
    width:160px ;
    height: 48px;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #FFFFFF;
    margin: 40px 31px 0 0;
}
#boo p{
    width: 120px;
    height: 48px;
    font-family: inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    padding: 13px 0 0 30px;
}
.bx3{
    width: 392px;
    height: 192px;
    border-radius: 20px;
    background-color:  #007DD7;
    padding: 0 60px 0 0;
}
#pen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}
#pen div{
    width: 79px;
    height: 79px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 57px 0 0 30px;
}
#pen div img{
    width: 70.5px;
    height: 71.67px;
    padding:10px ;
}
#pen h1{
    width:150px ;
    height: 48px;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    margin: 40px 0 0 20px;
}
#pen p{
    width: 81px;
    height: 48px;
    font-family: inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    padding: 13px 65px;
}




.Sec-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
}
.bx4{
    width: 293px;
    height: 156px;
    border-radius: 20px;
    background-color:  #2B00D7;
}
#sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sec1 div{
    width: 65px;
    height: 65px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 48px 0 0 20px;
}
#sec1 div img{
    width: 60px;
    height: 60px;
    padding:10px ;
}
#sec1 h1{
    width:154px ;
    height: 38px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    margin: 40px 31px 0 0;
}
#sec1 p{
    width: 128px;
    height: 34px;
    font-family: inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    padding: 10px 0 0 0;
}
.bx5{
    width: 293px;
    height: 156px;
    border-radius: 20px;
    background-color: #6C00D7;
}
#sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sec2 div{
    width: 65px;
    height: 65px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 48px 0 0 20px;
}
#sec2 div img{
    width: 60px;
    height: 60px;
    padding:10px ;
}
#sec2 h1{
    width:154px ;
    height: 38px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    margin: 40px 31px 0 0;
}
#sec2 p{
    width: 128px;
    height: 34px;
    font-family: inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    padding: 10px 0 0 0;
}
.bx6{
    width: 293px;
    height: 156px;
    border-radius: 20px;
    background-color:  #007DD7;
    padding: 0 60px 0 0;
}
#sec3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}
#sec3 div{
    width: 75px;
    height: 65px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 48px 0 0 20px;
    color: white
}
#sec3 div img{
    width: 50px;
    height: 60px;
    padding:10px ;
    color: #FFFFFF ;
}
#sec3 h1{
    width:154px ;
    height: 38px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    margin: 40px 0px 0 25px;
}
#sec3 p{
    width: 128px;
    height: 34px;
    font-family: inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    padding: 10px 0 0 0;
}

.bx7{
    width: 293px;
    height: 156px;
    border-radius: 20px;
    background-color:  #007DD7;
    padding: 0 60px 0 0;
}
#sec4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}
#sec4 div{
    width: 65px;
    height: 65px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin: 48px 0 0 20px;
}
#sec4 div img{
    width: 60px;
    height: 60px;
    padding:10px ;
}
#sec4 h1{
    width:154px ;
    height: 38px;
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #FFFFFF;
    margin: 40px 31px 0 25px;
}
#sec4 p{
    width: 128px;
    height: 34px;
    font-family: inter;
    font-weight: 700;
    font-size: 28px;
    line-height: 33.89px;
    padding: 10px 0 0 0;
}