*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: "Roman";
    src: url("../../assets/Fonts/times\ new\ roman.ttf");
}
@font-face {
    font-family:"inter";
    src: url("../../assets/Fonts/inter.ttf");
}
.side-parent{
    width: 336px;
    height: 100vh;
    position: relative;
}
.side-container{
    width: 336px;
    height: 100vh;
    background-color: #2B00D7;
    padding: 31px 0 59px 0;
    overflow-y: scroll;
    position: fixed;
    overflow-x: hidden;
}
.side-container::-webkit-scrollbar{
    display: none;
}
.logo{
    width: 100%;
    padding: 0 40px;
    display: flex; 
    flex-direction: row;
    gap: 10px;
    color: #FFFFFF;
}
.logo h2{
    color:#FFFFFF ;
    font-family: "Roman";
    font-size: 30px;
    font-weight: 700;
    line-height: 34.5px;
}
.p-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.p-f p{
    color: #FFFFFF;
    /* text-align: center; */
    width: 172px;
    height: 19px;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}
.po{
     /* width: 146px; */
     /* height: 157px; */
     display: flex;
     flex-direction: column;
     gap:25px;
     padding: 80px 95px 0 95px ;
     
}
.po img{
    width: 93px;
    height: 93px;
    margin:0 26.5px 0 26.5px ;
    border-radius: 50px;
}
.po h2{
  font-family: "inter";
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 38.73px;
}
.nav-links{
     display: flex;
     flex-direction: row;
     gap: 25px;
     /* width: 269px; */
     height: 79px;
     padding: 25px;
     color: #FFFFFFC2;
     cursor: pointer;
}
.links{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
.links p{
    /* width: 118px; */
    /* height: 27px; */
    font-family: "inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
     color: #FFFFFFC2;
}
.active{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* font-size: 22px; */
    width: 269px;
    border-radius: 10px;
    height: 79px;
    padding: 10px;
    gap: 20px;
    background-color: #2000A1;
    color: #FFFFFFC2;
    cursor: default;
}
