*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
@font-face {
    font-family: "inter";
    src: url(../../../assets/Fonts/inter.ttf);
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
   background: #EEEEEE;
   ;
    /* gap:224px; */
    height: 98px;
    align-items: center;
}
.navbar h1{
    width: 140px;
    height: 34px;
    padding:0 40px 0 0;
    font-family: "inter";
    font-weight: 600;
    font-size: 25px;
    line-height: 33.89px;
    color: #1E1E1E;
}
.search{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 20px ;
    gap: 31px;
    width: 450px;
    background-color: #BEBEBE;
    /* border: 1px solid black; */
    border-radius: 50px;
    border: none;
    outline: none;
    height: 45px;
    margin:0 60px 0 90px;
}
.search input{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 434px;
    height: 19px;
    border: none;
    margin-top: 4px;
    outline: none;
    background-color: #BEBEBE;
    
}
.search input::placeholder{
    width:123px ;
    height: 19px;
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.36px;
}
.search div{
   width: 24px;
   height: 24px;
   margin-top: 8px;
}
.search div img{
    width: 16.2px;
    height: 16.18px;
    cursor: pointer;
    color: #1E1E1E;
}
.alert{
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.alert img{
   width: 14px;
   height: 14px;
   margin: 7px;
}
.all{
    display: flex;
    flex-direction: row;
    width: 185px; 
    height: 41px;
    margin-left: 25px;
}
.pot{
    width: 31px;
    height: 31px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 4px;
}
.pot img{
    width: 30.55px;
    height: 30.19px;
    border-radius: 50px;
}
.all p{
    width: 100px;
    height: 27px;
    font-weight: 600;
    font-family: inter;
    font-size: 19px;
    padding-top: 6px;
    /* margin-left: 10px; */
    line-height: 26.63px;
}
.down{
    width: 20px;
    height: 20px;
    cursor: pointer;
    /* padding-left: 4px; */
}
.down img{
    width: 30px;
    height: 40.41px;
}
.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 50px;
    padding: 10px 0;
    border-radius: 4px;
}
.options p{
 display: flex;
 flex-direction: column;
 font-family: inter;
 font-weight: bold;
 align-items: center;
 font-size: 18px;
 /* margin: 5px; */
 cursor: pointer;
}
.options p:hover{
    background-color: #BEBEBE;
    border-radius: 5px;
    padding: 0 0 5px 0;
}