@font-face {
    font-family: inter;
    src: url("../../../assets/Fonts/inter.ttf");
}
.h1{
    padding: 30px 60px;
    /* width: 259px; */
    height: 39px;
    font-family: "inter";
    font-weight: 600;
    font-size: 18px;
    line-height: 38.73px;
    color:  #1E1E1E;
}
.edith{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:40px 60px ;
}
.text{
    display: flex;
    flex-direction: row;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    height: 60px;
    background-color: #2B00D7;
    cursor: pointer;
}
.text:hover{
    background-color:  #2b00d7bf;
}
.text p{
    /* width: 93px; */
    height: 24px;
    font-family: "inter";
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    padding: 10px 10px 10px 16px;
    color:#FFFFFF ;
}
.three-box{
   display: flex;
   flex-direction: row;
   gap: 23px;
}
.input{
    display: flex;
    flex-direction: row;
    width: 266px;
    height: 60px;
    border-radius: 10px;
    gap: 31px;
    padding: 10px 20px 10px 20px;
    background-color:  #BEBEBE;
}
.input input{
    display: flex;
    flex-direction: row;
    width: 171px;
    height: 19px;
    gap: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
    background-color: #BEBEBE;
}
.input input::placeholder{
    width: 95px;
    height: 19px;
    font-family: "inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}
.input div{
    margin-top: 10px;
    cursor: pointer;
}
.category{
    width: 216px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFFC2;
}
.category p{
    width: 139px;
    height: 24px;
    font-family: "inter";
    font-size: 20px;
    line-height: 24.2px;
    padding: 8px 0 0 0;
}
.category div{
    padding:8px 0 0 0 ;
}
.date{
    width: 148px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFFC2;
}
.date p{
    width: 139px;
    height: 24px;
    font-family: "inter";
    font-size: 20px;
    line-height: 24.2px;
    padding: 8px 0 0 20px;
}
.date div{
    padding:8px 50px 0 0 ;
}
.four-box{
    display: flex;
    flex-direction: row;
    gap: 23px;
}
.update{
    display: flex;
    flex-direction: row;
    width: 180px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    height: 60px;
    background-color: #2B00D7;
    cursor: pointer;
}
.update:hover{
    background-color:  #2b00d7bf;
}
.update p{
    /* width: 93px; */
    height: 24px;
    font-family: "inter";
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;
    padding: 10px 10px 10px 18px;
    color:#FFFFFF ;
}
.word{
    width: 148px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFFC2;
}
.word p{
    width: 139px;
    height: 24px;
    font-family: "inter";
    font-size: 20px;
    line-height: 24.2px;
    padding: 8px 0 0 20px;
}
.word div{
    padding:8px 50px 0 0 ;
}
.status{
    width: 148px;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFFC2;
}
.status p{
    width: 139px;
    height: 24px;
    font-family: "inter";
    font-size: 20px;
    line-height: 24.2px;
    padding: 8px 0 0 20px;
}
.status div{
    padding:8px 50px 0 0 ;
}






















