.feed{
    padding: 0 10px;
}
@font-face {
    font-family:"inter";
    src: url("../../../assets/Fonts/inter.ttf");
}
.actions{
    display: flex;
    justify-content: space-between;
}
.btn div{
    width: 70px;
    height: 36px;
    padding: 8px 0 18px 20px;
    border-radius: 10px;
    background-color: #2B00D7;
    font-family: "inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 19.36px;    
    color:#FFFFFF;
    cursor: pointer;
}