.feed {
  padding: 0 10px;
}
@font-face {
  font-family: "inter";
  src: url("../../../assets/Fonts/inter.ttf");
}
.actions {
  display: flex;
  justify-content: space-between;
}
.img {
  margin-top: 10px;
}
.btn div {
  width: 70px;
  height: 36px;
  padding: 8px 0 18px 20px;
  border-radius: 10px;
  background-color: #2b00d7;
  font-family: "inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 19.36px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .paperB {
    max-width: 58%;
  }
  .actions {
    gap: 40px;
  }
  .img {
    margin-top: 10px;
  }
  .btn div {
    margin: 0 0 0 40px;
  }
  .size {
    font-size: 15px !important;
  }
}
@media (min-width: 501px) and (max-width: 599px) {
  .paperB {
    width: 65% !important;
  }
  .actions {
    gap: 40px;
  }
}
@media (min-width:600px) and (max-width:700px){
  .paperB {
    max-width: 76%;
  }
  .actions {
    gap: 40px;
  }
}
@media (min-width:701px) and (max-width:800px){
  .paperB {
    max-width: 88%;
  }
  .actions {
    gap: 40px;
  }
}
@media (min-width:801px) and (max-width:900px){
  .paperB {
    max-width: 92%;
  }
  .actions {
    gap: 40px;
  }
}
@media (min-width:901px) and (max-width:1000px){
  .paperB {
    max-width: 98%;
    margin:0 -99px;
  }
  .actions {
    gap: 40px;
  }
}
