@font-face {
    font-family: "inter";
    src: url(../../../assets/Fonts/inter.ttf);
}
.card-section{
    display: flex;
    flex-direction: row;
    gap: 45;
    margin: 0 20px;
}
.table h1{
    width: 218px;
    height: 39px;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 38.73px;    
    margin:  30px 0;
}
.img img{
    cursor: pointer;
}