@font-face {
  font-family: "inter";
  src: url(../../../assets/Fonts/inter.ttf);
}
.card-section {
  display: flex;
  flex-direction: row;
  gap: 45;
  margin: 0 20px;
}
.table h1 {
  width: 218px;
  height: 39px;
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 38.73px;
  margin: 30px 0;
}
.img img {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .card-section {
    flex-direction: column;
  }
  .paperA {
    max-width: 67%;
    margin-right: 30px;
  }
  .table h1 {
    font-size: 20px;
    margin-left: 23%;
  }
}
@media (min-width: 501px) and (max-width: 599px) {
  .paperA {
    max-width: 73%;
    padding-right: 10px;
  }
  .table h1 {
    font-size: 23px;
  }
  .card-section {
    flex-direction: column;
  }
}
