.pass-fgrt-main{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
}
.bg-white{
    background-color: white;
    width: calc(100%);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgt-pss-ctn-main-1{    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
}
.forgot-rem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.forgt-name{
    display: flex;
    align-items: center;
    width: 100%; 
    gap: 20px;
    color:#2B00D7;
}
