.td-img{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
@font-face {
    font-family: "inter";
    src: url("../../../assets/Fonts/inter.ttf");
}
.options div{
    width: 70px;
   background-color: #2000D7;
   padding: 10px;
   position: relative;
   right: 50px;
   bottom: 15px;
   border-radius: 5px;
   color: #FFFFFF;
}
.section{
    margin-top: 45px;
}
.section h1{
    height: 39px;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 38.73px; 
    margin-left: 8px;
}
.td-img img{
    cursor: pointer;
}
@media  (max-width:500px){
    .MuiSheet-root {
        max-width: 428px;
      }
      .section{
        margin-left:5px;
      }
      .section h1{
        font-size: 20px;
        margin-left: 20%;
      }
      .td-img{
        gap: 90px;
      }
}
@media (min-width:501px) and (max-width:599px){
  .MuiSheet-root {
    width : 428px !important;
  }
  .section h1{
    font-size: 23px;
  }
}