* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: "Tino";
  src: url("../../../assets/Fonts/Tinos-Regular.ttf");
}
@font-face {
  font-family: "inter";
  src: url("../../../assets/Fonts/inter.ttf");
}
.side-parent {
  width: 300px;
  height: 100vh;
  position: relative;
}
.side-container {
  width: 300px;
  height: 100%;
  background-color: #2b00d7;
  padding: 31px 0 59px 0;
  overflow-y: scroll;
  position: fixed;
  overflow-x: hidden;
}
.side-container::-webkit-scrollbar {
  display: none;
}
.logo {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #ffffff;
}
.logo h2 {
  color: #ffffff;
  font-family: "Tino";
  font-size: 25px;
  font-weight: 700;
  line-height: 34.5px;
}
.p-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.p-f p {
  color: #ffffff;
  /* text-align: center; */
  width: 172px;
  height: 19px;
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
}
.po {
  /* width: 146px; */
  /* height: 157px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 80px 95px 0 95px;
}
.po img {
  width: 83px;
  height: 83px;
  margin: 0 26.5px 0 26.5px;
  border-radius: 50px;
}
.po h2 {
  font-family: "inter";
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  line-height: 38.73px;
  margin-left: 10px;
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 25px;
  /* width: 269px; */
  height: 79px;
  padding: 25px;
  color: #ffffffc2;
  cursor: pointer;
}
.links {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}
.links p {
  /* width: 118px; */
  /* height: 27px; */
  font-family: "inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 26.63px;
  color: #ffffffc2;
}
.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-size: 22px; */
  width: 260px;
  border-radius: 10px;
  height: 75px;
  padding: 10px;
  gap: 20px;
  background-color: #2000a1;
  color: #ffffffc2;
  cursor: default;
}

@media screen and (max-width: 500px) {
  .side-parent {
    display: none;
  }
}
@media (min-width: 501px) and (max-width: 599px) {
  .side-parent {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .side-parent {
    display: none;
  }
}
@media (min-width: 701px) and (max-width: 800px) {
  .side-parent {
    display: none;
  }
}
@media (min-width: 801px) and (max-width: 900px) {
  .side-parent {
    display: none;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  .side-container {
    width: 230px;
  }
  .logo {
    width: 125%;
    padding: 0 0 0 55px;
  }
  .logo h2 {
    font-size: 20px;
  }
  .p-f p {
    font-size: 14px;
    margin-left: 15px;
  }
  .po img {
    width: 63px;
    height: 63px;
  }
  .po h2 {
    font-size: 20px;
    margin-left: 10px;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 79px;
    padding: 25px;
    color: #ffffffc2;
    cursor: pointer;
  }
  .links {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
  .links p {
    font-family: "inter";
    font-weight: 700;
    font-size: 17px;
    line-height: 26.63px;
    color: #ffffffc2;
  }
  .active {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 210px;
    border-radius: 10px;
    height: 75px;
    padding: 10px;
    gap: 20px;
    background-color: #2000a1;
    color: #ffffffc2;
    cursor: default;
  }
}
