.UpdateTable{
    margin: 0 60px;
}
.More{
cursor: pointer;
}
.Menu{
    background-color: blue;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
}