.feed__container{
    background-color: #F5F5F5;
    width:70%;
  margin:0 auto;
  padding: 20px;
  border-radius: 32px
}

.feed__container-content-box{
    background-color: #fff;
    width:90%;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 20px
}

.feed__container-content{
    display: flex;
    justify-content: space-between;
}

.feed__header h3{
    padding-left: 40px;
  
}






