@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: none;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.section__padding {
  padding: 4rem 6rem;
}

.main__feed {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.main__feed-container {
  display: flex;
}

.main__feed-header {
  font-size: 24px;
  font-weight: 500;
  flex: 1;
}

.main__feed-btn {
  width: 79px;
  height: 40px;
  background-color: #2e3192;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.main__feed-box {
  display: flex;
  flex-direction: column;
}

.main__feed-content_box {
  min-width: 300px;
  padding: 20px 20px 10px 20px;
  border-radius: 6px;
  background-color: #fff;
}

.main__feed-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main__feed-item {
  flex: 1;
}

.main__feed-content_btn {
  display: flex;
  justify-content: flex-end;
}

.main__feed-edit {
  padding: 24px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 50px;
}
.main__feed-edit h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.main__feed-edit div {
  display: flex;
  margin: 5px 0;
}

.main__feed-edit div button {
  display: "block";
  flex: 0.2;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main__feed-content_btn button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main__feed-edit div p {
  font-size: 14px;
}

.home__wordOfTheDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #f5f5f5;
  width: 50%;
  margin: 0 auto 10px auto;
}

.home__wordOfTheDay h3 {
  font-size: 30px;
}

.feed__flex {
  display: flex;
  justify-content: space-between;
}

.feed__btn {
  padding: 8px 16px;
  border-radius: 6px;
  gap: 15px;
}

.feed__btn img {
  width: 32px;
}
.feed__container-content-box div {
  margin: 10px 0;
}

.feed__container-content-box div h3 {
  font-weight: bold;
}

.feed__container-content-box div p {
  color: #616161;
}

.feed__container-content-box div ul {
  color: #616161;
}

@media screen and (max-width: 790px) {
  .main__feed-container,
  .main__feed-edit {
    margin: 10px 0;
  }
}

@media screen and (max-width: 490px) {
  .section__padding {
    padding: 2rem;
  }
  .main__feed-content_box,
  .main__feed-edit {
    min-width: 200px;
  }
}
